.details-section{
  border: 1px solid green;
  padding: 20px;
}

.list-group-item{
  cursor: pointer;
  text-align: center;
}

.list-group-item:hover {
  background-color: #eee;
}

.navbar {
  margin: 20px 0px;
}

.container{
  margin: 20px;
}

#Enertis-Logo{
  width:200px;
  margin: 30px 0px 20px 0px;
}

#Right-btn{
  margin-left:10px;
}

.suptitle {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.suptitle p {
  text-align: left
}

.suptitle p:last-child {
  margin-bottom: 0;
  text-align: left
}

.suptitle-heading {
  font-weight: 300;
  color: #003041;
  text-align: left
}


.suptitle .container {
  max-width: 40rem;
}
